<div class="row" *ngFor="let donation of allDonaton" style="margin-bottom: 10px">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <p-card header="{{donation.title}}"  styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <img alt="Card" src="{{donation.donationPic}}">
      </ng-template>
      <p>{{donation.donationDetails}}</p>
      <ng-template pTemplate="footer">
        <div class="card">
          <div class="card-body">
            <h5> <a href="" class="card-link">Phone Number: </a> <span>{{donation.phoneNumber}}</span> </h5>
            <h5> <a href="" class="card-link">Pickup Address: </a> <span>{{donation.pickup_address}}</span></h5>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="col-sm-2"></div>
</div>
